.bg-gif {
  background-image: url("../assets/neoGif.gif");
  background-size: cover; /* Adjust this property based on your preference */
  background-position: center center; /* Adjust this property based on your preference */
}

.bg {
  background: rgb(251, 210, 147);
  background: linear-gradient(
    90deg,
    rgba(251, 210, 147, 1) 0%,
    rgba(235, 216, 197, 1) 27%,
    rgba(178, 140, 197, 1) 60%,
    rgba(195, 175, 248, 1) 81%,
    rgba(197, 219, 250, 1) 100%
  );
}

.combination-bg {
  background-color: #fbf7f7;
  background-size: 120px;
  background-image: repeating-linear-gradient(
    to right,
    #7b7b7b4a,
    #7b7b7b4a 1px,
    #fbf7f7 1px,
    #fbf7f7
  );
}
